
.show {
    width: 100%;
    height: 100%;
    /*border: 1px solid red;*/
}
.wrap {
    width: 90%;
    height: 100%;
    margin: 0 auto;
}
.wraps {
    width: 100%;
    height: 100%;
}
.el-menu-vertical-demo {
    height: 100%;
}
.show > .wraps {
     display: flex;
     flex-direction: row;
    clear: both;
}
.wraps > .lay-left {
    width: 200px;
    height: 100%;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
}
.wraps > .lay-left:after{
    content: "";
    clear: both;
}

.wraps > .lay-right {
    flex: 1;
    clear: both;
    height: 100%;
    margin-left: 200px;
}

.lay-right > .lay-header {
    width: 100%;
    height: 40px;
}




@media screen and (max-width: 1350px) {
      body
     {
           width: 1300px;
      }

}
